
<img src='<%=movieDetails["data"]["poster_url"] %>'>

<h2><%=movieDetails["data"]["name"] %> -  <%=movieDetails["data"]["year"] %>

<h3>Imdb rating - <%=movieDetails["data"]["rating"] %></h3>

<h3>Director - <%=movieDetails["data"]["director"] %></h3>

<h3>Cast - <%=movieDetails["data"]["stars"] %></h3>

<h3>Genre - <%=movieDetails["data"]["genre"] %></h3>

<a href="/">Search another movie</a>
